@inherits DNNrocketAPI.render.DNNrocketTokens<Simplisity.SimplisityRazor>
@using System.Linq
@using Simplisity;
@using DNNrocketAPI.Components;
@using RocketEcommerce.RE_ManualPay;

@{
    var info = (SimplisityInfo)Model.List.First();
    var engineurl = PortalUtils.GetPortalAlias(DNNrocketUtils.GetCurrentCulture(), PortalUtils.GetPortalId());
    var payData = new PayData(PortalUtils.SiteGuid());
}


@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/API/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEcommerce/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RE_ManualPay/App_LocalResources/")


<div class="w3-row w3-padding">
    <div class="w3-button" onclick="window.location.reload(false);">@ButtonIcon(ButtonTypes.back)</div>
    <div class="w3-button w3-theme-action simplisity_click " s-cmd="manualpay_save" s-post="#datasave" s-fields=''>@ButtonText(ButtonTypes.save)</div>
    @if (Model.GetSettingBool("saved"))
    {
        <span class="simplisity_fadeout">
            @ButtonIcon(ButtonTypes.save)
        </span>
    }
</div>

<div id="datasave" class="w3-margin-top">

    <div class="w3-container ">
        <h2><i class="fab fa-money fa-x3"></i>&nbsp;@ResourceKey("provider.settings")</h2>
    </div>

    <div class="w3-container">
        <label>Assembly</label>
        @TextBox(info, "genxml/textbox/assembly", "class='w3-input w3-border'  autocomplete='off' disabled ", "RE_ManualPay")
        <label>Namespace + Class</label>
        @TextBox(info, "genxml/textbox/namespaceclass", "class='w3-input w3-border'  autocomplete='off' disabled ", "RocketEcommerce.RE_ManualPay.BankInterface")
    </div>

    <div class="w3-container">

        @{
            var disableField = "";
        }

        @if (!UserUtils.IsAdministrator())
        {
            disableField = " disabled ";
        }
        <div class="w3-row w3-margin-top">
            <div class="w3-third">
                <label>@ResourceKey("provider.returncommand")</label>
                @TextBox(info, "genxml/textbox/returncommand", "class='w3-input w3-border'  autocomplete='off'  " + disableField, "rocketecommerce_cartbankreturn")
            </div>
        </div>
        <div class="w3-row">
            <i>
                @ResourceKey("provider.returncommand", "", "Help")
            </i>
        </div>

        <div class="w3-row w3-margin-top">
            <div class="w3-third">
                <label>@ResourceKey("provider.validpayment")</label>
                @CheckBox(info, "genxml/checkbox/validpayment", "", "class='w3-check'  ")
            </div>
        </div>
        <div class="w3-row">
            <i>
                @ResourceKey("provider.validpayment", "", "Help")
            </i>
        </div>

        <hr />

        <label>@ResourceKey("provider.debugmode")</label>
        @CheckBox(info, "genxml/checkbox/debugmode", "", "class='w3-check'")

        <label>@ResourceKey("DNNrocket.active")</label>
        @CheckBox(info, "genxml/checkbox/active", "", "class='w3-check'")

        @if (UserUtils.IsAdministrator())
        {
            <div class="w3-panel w3-red">
                <p>Return Payment Fail&nbsp;@CheckBox(info, "genxml/checkbox/paymentfail", "", "class='w3-check'") &nbsp;(For Testing, DebugMode must be also turned on)</p>
            </div>
        }

    </div>

    <div class="w3-row w3-margin-top w3-small w3-right">
        @ResourceKey("DNNrocket.lastupdated") : @GeneralUtils.FormatDateToString(info.ModifiedDate, DNNrocketUtils.GetCurrentCulture())
    </div>
</div>
